# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\popca\CLionProjects\fcld_lab2_final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# This file
./*

# Exclude build files 
../cmake-build-debug/*

# Exclude CMakeLists
../CMakeLists.txt